In [2]:
for i in range(5):
    print("hello world")

hello world
hello world
hello world
hello world
hello world

In [3]:
print("krishna")

krishna

In [4]:
for i in range(5):
    print("hello world")

hello world
hello world
hello world
hello world
hello world

In [5]:
def name():

    for i in range(5):
        print("hello world")

In [6]:
name()

hello world
hello world
hello world
hello world
hello world

In [7]:
print("krishna")

krishna

In [8]:
name()

hello world
hello world
hello world
hello world
hello world

In [9]:
def name():

    for i in range(5):
        print("hello world")

In [10]:
a=[]
a.append(1)

In [11]:
a

[1]

In [12]:
a.clear()

In [13]:
a

[]

In [18]:
def name(n):
    for i in range(n):
        print("hello world")

In [20]:
name(2)

hello world
hello world

In [21]:
arg=1
arg=1.0
arg="krisha"
arg=[1,2,3,4]
arg=(12,3,4,5)
arg={1,3,4,5}
arg={1:"krisha"}
arg=bool(0)

In [25]:
def name(n,krishna):
    for i in range(n):
        print("hello world")
        print(krishna)

In [28]:
n=3
krishna=(1,2,3,4,5)
name(n,krishna)

hello world
(1, 2, 3, 4, 5)
hello world
(1, 2, 3, 4, 5)
hello world
(1, 2, 3, 4, 5)

In [29]:
name(3,(1,2,3,4,5))

hello world
(1, 2, 3, 4, 5)
hello world
(1, 2, 3, 4, 5)
hello world
(1, 2, 3, 4, 5)

In [31]:
def add(a,b):
    print(a+b)

In [32]:
add(2,3)

5

In [33]:
add(10,32323423423)

32323423433

In [34]:
a=10
b=20
print(a+b)

30

In [42]:
# positional argument
# keyvalue argument 

def add(a,b=1):
    print(a+b)

In [43]:
add(2)

3

In [44]:
add(2,2)

4

In [45]:
a=[1,2,3,4,5,6]

In [46]:
a.pop()

6

In [47]:
a

[1, 2, 3, 4, 5]

In [48]:
a.pop(3)

4

In [53]:
def name(a):
    for i in range(1,a+1):
        for j in range(1,i+1):
            print(j,end="")
        print()

In [3]:
# Lambda expression/annonymous function(java)/fat arrow function(dart/javascript)-->

# a function which doesnot have any name and contain only one expression or statement.

In [9]:
def add(a,b):
    print(a+b)
    print("hello world")

In [13]:
a=10
b=20
x=lambda a,b:print(a+b);print("hello world")

hello world

In [14]:
x(10,20)

30

In [10]:
add(10,20)

30
hello world

In [15]:
def add(a,b):
    print(a+b)

In [16]:
add(10,20)

30

In [17]:
print(add(10,20))

30
None

In [19]:
print(print("hello world"))

hello world
None

In [21]:
a=add(10,20)

30

In [22]:
a

In [23]:
def add(a,b):
    return a+b

In [25]:
a=add(10,20)

In [26]:
a

30

In [27]:
a+10

40

In [28]:
def a():
    print("hello world")

In [32]:
krishna=a()

hello world

In [33]:
krishna

In [30]:
def b():
    return "hello world"

In [34]:
arjun=b()

In [35]:
arjun

'hello world'

In [37]:
BODMAS
2+3*(3+2)
# a+b*(c+d)  #17

17

In [48]:
def B(c,d):
    return c+d  #5
result1=B(3,2)
def C(arg,b):
    return arg*b  #5*3=15
result2=C(result1,3)
def D(arg2,a):
    return arg2+a  #15+2=17
result3=D(result2,2)
result3

17

In [39]:
result=B(3,2)

In [42]:
result2=C(result,3)

In [43]:
result2

15

In [45]:
result3=D(result2,2)

In [46]:
result3

17

In [49]:
# Local variable/Local scope and global variable/global scope

In [55]:
def add():
    a=10
    b=20
    print(a+b)

In [56]:
add()

30

In [57]:
print(a)

NameError: name 'a' is not defined

In [58]:
zippo="Lighter"

In [65]:
def Biddi():
    global m
    m=502
    print(zippo)
    print(m)

In [66]:
Biddi()

Lighter
502

In [67]:
print(m)

502