In [1]:
pip install mysql-connector

Requirement already satisfied: mysql-connector in c:\users\ducat\appdata\local\programs\python\python311\lib\site-packages (2.2.9)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.3.1 -> 23.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import mysql.connector as sql

In [14]:
db=sql.connect(host="localhost",port=3306,username="root",password="root",database="WD_7pm")

In [5]:
cur=db.cursor()

In [6]:
cur.execute("show tables")

In [7]:
for i in cur:
    print(i)

('annual',)
('college2',)
('hostel',)
('hostel2',)
('student2',)
('timetable',)

In [8]:
cur.execute("select * from timetable")

In [9]:
for i in cur:
    print(i)

(datetime.timedelta(seconds=69153), datetime.date(2023, 4, 5), datetime.datetime(2023, 4, 5, 19, 12, 33))
(datetime.timedelta(seconds=69345), datetime.date(2023, 4, 5), datetime.datetime(2023, 4, 5, 19, 15, 45))
(datetime.timedelta(seconds=69345), datetime.date(2023, 4, 5), datetime.datetime(2023, 4, 5, 19, 15, 45))
(datetime.timedelta(seconds=69720), datetime.date(2023, 4, 5), datetime.datetime(2023, 4, 5, 19, 22))
(datetime.timedelta(seconds=69740), datetime.date(2023, 4, 5), datetime.datetime(2023, 4, 5, 19, 22, 20))

In [10]:
cur.execute("insert into timetable values(curtime(),curdate(),now())")

In [11]:
cur.execute("select * from timetable")

In [12]:
for i in cur:
    print(i)

(datetime.timedelta(seconds=69153), datetime.date(2023, 4, 5), datetime.datetime(2023, 4, 5, 19, 12, 33))
(datetime.timedelta(seconds=69345), datetime.date(2023, 4, 5), datetime.datetime(2023, 4, 5, 19, 15, 45))
(datetime.timedelta(seconds=69345), datetime.date(2023, 4, 5), datetime.datetime(2023, 4, 5, 19, 15, 45))
(datetime.timedelta(seconds=69720), datetime.date(2023, 4, 5), datetime.datetime(2023, 4, 5, 19, 22))
(datetime.timedelta(seconds=69740), datetime.date(2023, 4, 5), datetime.datetime(2023, 4, 5, 19, 22, 20))
(datetime.timedelta(seconds=71059), datetime.date(2023, 4, 5), datetime.datetime(2023, 4, 5, 19, 44, 19))